<div>

  <form ng-submit="createJoinMeeting()">
    <div class="row">
      <div class="input-field col s6">
        <input id="meetingName" type="text" ng-model="meeting.name" />
        <label for="meetingName">Meeting Name</label>
      </div>
      <div class="input-field col s6">
        <input type="text" id="meetingPassword" ng-model="meeting.password"/>
        <label for="meetingPassword">Password (required to create new meetings)</label>
      </div>
    </div>

    <div class="row" ng-if="error.length">
      <div class="card-panel red">
        <span class="white-text">{{error}}</span>
      </div>
    </div>

    <button class="btn-large">{{meeting.password.length > 0 ? 'Create' : 'Join'}} Meeting</button>
  </form>
</div>