<!DOCTYPE html>
<html lang="en" ng-app="SocketToMe" ng-controller="AppCtrl">
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SocketToMe</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body class="container">

  <h1>Stop, Start, Continue</h1>
  <div ui-view>
    <!--ANGULAR VIEW-->
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

  <!--SCRIPTS-->
  <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/components/angular-sails-socket/dist/angular-sails-socket.min.js"></script>
  <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/components/ng-csv/build/ng-csv.min.js"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/features/join/joinConfig.js"></script>
  <script src="/features/moderate/moderateConfig.js"></script>
  <script src="/features/participate/participateConfig.js"></script>
  <script src="/features/join/joinController.js"></script>
  <script src="/features/moderate/moderateController.js"></script>
  <script src="/features/participate/participateController.js"></script>
  <script src="/app.js"></script>
  <!--SCRIPTS END-->

</body>

</html>
