<h1>Meeting View</h1>

<form ng-submit="sendResponse()">
  <p>Feedback Type</p>
  <input type="radio" name="feedbackType" id="feedbackStop" value="stop" required ng-model="response.type" class="with-gap">
  <label for="feedbackStop">Stop</label><br>
  <input type="radio" name="feedbackType" id="feedbackStart" value="start" required ng-model="response.type" class="with-gap">
  <label for="feedbackStart">Start</label><br>
  <input type="radio" name="feedbackType" id="feedbackContinue" value="continue" required ng-model="response.type" class="with-gap">
  <label for="feedbackContinue">Continue</label><br>

  <div class="input-field col s12">
    <p>Description</p>
    <textarea name="description" id="description" class="materialize-textarea" required ng-model="response.description">
    </textarea>
  </div>

  <button class="btn-large">Send Feedback<i class="material-icons right">message</i></button>
</form>